.home {
  background-color: #15171E;
}
.homeBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 5vw 3rem;
  min-height: 60vh;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #15171E;
}
.banner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10%;
  max-width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.peao {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Fica acima do banner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerGradient {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.homeText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.logo {
  width: 40%;
  height: auto;

}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  padding: 3rem;
  border-width: 2px;
  border-style: solid;
  border-color: #A78BFA;
  color: #F5FAFC;
  width: 50%;
}

.span {
  color: #A78BFA;
  font-weight: bold;
}

.cardsContainer{
  background-color: #F5FAFC;
  padding: 2rem;
}

.nextGame {
  background: linear-gradient(180deg, #F5FAFC 2%, #D2CDF2 16%, #C0B4EE 27%, #9C80F0 50%, #7F66CD 63%, #584894 77%, #140D2E 100%);
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.nextGameText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #F5FAFC;
  width: 40%;
}

.nextGameText span {
  color: #81DEA8;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nextGameButton {
  background-color: #F5FAFC;
  color: #15171E;
  border: none;
  padding: 2rem;
  border-radius: 15px;
  cursor: pointer;
}

.nextGameButton:hover {
  background-color: #E0E7FF;
}

@media (max-width: 768px) {
  .homeBanner {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2vw 1rem;
    min-height: 30vh;
  }
  .banner {
    top: 0;
    left: 50%;
    width: 100%;
  }
  .peao {
    top: 55%;
    left: 50%;
    width: 40vw;
    max-width: 180px;
    min-width: 80px;
    height: auto;
  }
}